@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: chocolate;
}

table {
    margin: auto;
    margin-top: 35px;
    border-collapse: collapse;
}

td {
    height: 140px;
    width: 140px;
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 85px;
    white-space: none;
    color: rgb(183, 6, 6);
}


@media screen and (max-width : 600px) {
    table {
        display: inline-block;
    }
}